.sessao2{
    background:#f1f0f0;
    padding: 1rem;
    display: flex;
}
.card1-sessao2{
    display: flex;
    justify-content: center;
    width: 55%;
}
.card2-sessao2{
    display: flex;
    justify-content: center;
    width: 45%;
    text-align: center;
    font-size: 1.9rem;
}
iframe{
    border: 1px solid green;
    width: 30rem;
    height: 16.9rem;
}
