/*geral*/
.sessao1{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background:#f1f0f0;
}
/*Esquerdo*/
.card1-sessao1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.card1-sessao1 h2{
    font-size: 2.5rem;
    color: #ffa500;
    filter: drop-shadow(1px 1px 1px #fff);
    line-height: 3rem;
}
a{
    color: #000;
}
/*Direito*/
.card2-sessao1{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background: #f1f0f0;
}
.card2-sessao1 form{
    padding: 1rem;
    box-shadow: 0 0 0.3rem #c4c4c4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}
input, textarea{
    font-size: 12pt;
    border: none;
    border-bottom: 1px solid #ffa500;
    background: transparent;
}
textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 7rem;
    min-height: 2rem;
}
button[type = submit]{
    background: #ffa500;
    border: none;
    padding: 0.5rem;
    font-size: 14pt;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0.1rem 0.1rem 0.3rem #c4c4c4;
}
button[type = submit]:hover{
    background: #fff;
    color: #ffa500;
}
