/*Geral da sessões são identicas a primeira estão juntas no arquivo sessão1.css*/


.card1-sessao2{
    display: flex;
    justify-content: center;
    width: 55%;
}
.card2-sessao2{
    display: flex;
    justify-content: center;
    width: 45%;
    text-align: center;
    font-size: 1.9rem;
}
iframe{
    border: 1px solid green;
    width: 30rem;
    height: 16.9rem;
}
