/* geral */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border: none;
	outline: 0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	color: #ffffff;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: #fff;
}
::-webkit-scrollbar {
	width: 9px;
}
::-webkit-scrollbar-track {
	background: rgba(255, 166, 0, 0.5);
}
::-webkit-scrollbar-thumb {
	background: orange;
}
input:-webkit-autofill {
	box-shadow: 0 0 0 30px rgb(255, 255, 255, 0);
	-webkit-text-fill-color: rgb(0, 0, 0);
}
