.icowhats {
    display: flex; /*display flex >> display none JS*/
    transition: 1s;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
    cursor: pointer;
}
.chatwhatsap {
    display: flex; /*display none >> display flex JS*/
    transition: 1s;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: #fff;
    height: auto;
    width: auto;
    flex-direction: column;
    border: 1px solid #00a356;
    border-radius: 13px;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
}
.topo, .baixo {
    background: #00a356;
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
    align-items: center;
}
.centro {
    height: 15rem;
    padding: 0.3rem;
}
.chatwhatsap button {
    background: none;
    border: none;
    cursor: pointer;
}
.baixo input {
    padding: 0.3rem;
    outline: none;
    width: 70%;
    color: #000;
}