/*Responsivo m�dio*/
@media (max-width: 900px) {
    .direito, .esquerdo {
        width: 23rem;
    }
    .esquerdo {
        display: none;
    }
    .sessao4 p, .sessao4 a {
        font-size: 10pt;
    }
    header a {
        font-size: 12pt;
    }
    .sessao3 p {
        font-size: 15pt;
    }
    .sessao3 h1 {
        font-size: 25pt;
    }
    .botao {
        font-size: 8pt;
    }
    .sessao4 h1 {
        font-size: 20pt;
    }
}

@media (max-width: 600px) {
    .logo{
        height: 2rem;
    }
    header a {
        font-size: 10pt;
    }
    .menu1 {
        width: 13rem;
    }
    .sessao3 h1 {
        font-size: 20pt;
    }
    .sessao3 p {
        font-size: 13pt;
    }
}