/*Grade*/
.sessao2 {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 95vw;
    flex-wrap: wrap;
}
/*Quadros*/
.esquerdo, .direito {
    height: auto;
    width: 45%;
    max-width: 22rem;
    /* From https://css.glass */
    background: rgb(255, 106, 0, 0.5);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
}
/*Esquerdo*/
.esquerdo h1 {
    font-size: 43px ;
    padding: 2.5rem 0 0 1.5rem;
    letter-spacing: 3px;
}
.esquerdo p {
    padding: 1.5rem 0 1.5rem 1rem;
    color: #ffffff;
    font-size: 24px;
}

/*Direito*/
.contato {
    display: flex;
    text-align: center;
}
.formulario {
    max-width: 20rem;
    margin: auto;
}
.formulario h1 {
    font-size: 28px;
    color: #ffffff;
    padding: 2.5rem 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/*Entradas*/
.caixa_entrada {
    position: relative;
}
.nome, .email, textarea, .numero {
    color: #000000;
    width: 17rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid orange;
    margin-top: 2rem;
    padding-left: 15px;
}
input:focus, textarea {
    outline: 0;
}
::placeholder {
    color: #ffffff9c;
}

/*Confirmação*/
.botao {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2.5rem 0 2rem 0;
    padding: 8px 35px;
    border: 1px solid orange;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0);
    color: #ffffff;
    transition: 0.3s;
}
.botao:hover {
    background: rgb(255, 106, 50);
    cursor: pointer;
}
