/* geral */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	color: #ffffff;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffe0b4;
	height: 100%;
	width: 100%;
	background: #ffd9a4;
	background-size: 100vw;
}

::-webkit-scrollbar {
	width: 9px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: #ff6a0078;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: orange;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255, 0);
	-webkit-text-fill-color: rgb(0, 0, 0);
}
